<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>book render</title>
</head>
<body>
    
    <% searchResults.forEach( book => { %>
        <div>
            <img src=<%= book.image %> alt="">
            <h2><%=book.title %></h2>
            <h4><%=book.author %></h4>
            <p><%=book.description %></p>
        </div>
    <% }) %>
</body>
</html>