<!DOCTYPE html>
<html lang="en">
<%- include('../layout/head')  %>

<body>
    <%- include('../layout/header')  %>
    <main>

        <h2>Error: <%=error.body %></h2>
    </main>
    <%- include('../layout/footer')  %>

</body>

</html>