 <header>
     <nav>
         <h2>BookiTupia</h2>
         <ul>
             <li>
                 <a href="/">Home</a>
             </li>
             <li>
                 <a href="/searches/new">Search Google Books</a>
             </li>
         </ul>
     </nav>
 </header>