 <header>
     <nav role="navigation">
         <h2>BookiTupia</h2>
         <div id="menuToggle">
             <input type="checkbox" />
             <span></span>
             <span></span>
             <span></span>
             <ul id="menu">
                 <a href="/">
                     <li>Home</li>
                 </a>
                 <a href="/searches/new">
                     <li>Search Google Books</li>
                 </a>
             </ul>
         </div>
     </nav>
 </header>